.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  width: 100%;
  max-width: 60rem;

  .inputWrapper {
    > label {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;

      .required {
        color: var(--text-color-dim);
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }

    > input,
    > textarea {
      display: block;
      padding: 0.3rem 0.6rem;
      width: 100%;

      border: 0.1rem solid var(--grey-300);
      border-radius: var(--border-radius-m);

      &:focus-visible {
        outline: 0.2rem solid var(--orange-dim);
        outline-offset: 0.2rem;
      }
    }
  }
}
