<footer class="footer">
  <div class="container">
    <nav class="footer__links">
      <ul>
        <li><a href="https://www.pascalhelleu.com/">Photographies : Pascal Helleu</a></li>
        <li><a href="https://perrien.fr/">Site : Marc Perrien</a></li>
        <li><a href="/mentions-legales/">Mentions légales</a></li>
      </ul>
    </nav>
  </div>
</footer>

<style lang="scss">
  .footer {
    margin-top: auto;
    padding-top: var(--space-small);
    padding-bottom: var(--space-medium);

    font-family: var(--ui-font);

    &__links {
      display: flex;
      justify-content: center;
      text-align: center;

      li {
        list-style: none;
      }

      a {
        color: var(--grey-500);
        font-size: 1.4rem;
      }
    }
  }
</style>
