---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/home/Hero.astro";
import Quote from "@/components/home/Quote.astro";
import Journey from "@/components/home/Journey.astro";
import Project from "@/components/home/Project.astro";
import Book from "@/components/home/NewBook.astro";
import Authors from "@/components/home/Authors.astro";
---

<Layout
  title="Regarder ensemble pour voir autrement"
  description="Un livre à quatre mains par Aurore Stevens et Franck Garden-Brèche."
>
  <main class="home">
    <Hero />
    <Quote />
    <Journey />
    <Project />
    <Book />
    <Authors />
  </main>
</Layout>

<style lang="scss" is:global>
  .home {
    > section {
      min-height: 100vh;
      padding-top: calc(2 * var(--space-large));
      padding-bottom: calc(2 * var(--space-large));

      & + .section {
        margin-top: var(--space-large);
      }
    }
  }
</style>
