---
import Author from "@/components/home/Author.astro";

const AUTHORS = [
  {
    name: "Aurore Stevens",
    content:
      "Aurore Stevens, née le 29 août 1987 à Saint Malo, réside près de Rennes. Pacsée, maman d’une petite Anna, rédactrice territoriale pour la fonction publique d’État. Passionnée et curieuse de la vie, tout simplement…",
    image: "aurore-stevens.jpg",
  },
  {
    name: "Franck Garden-Brèche",
    content:
      "Franck Garden-Brèche, né le 4 novembre 1964 à Saint Etienne, réside à Saint Malo. Pacsé, urgentiste et hypnothérapeute de métier. Passionné de lecture, amoureux de la vie et de ses mystères…",
    image: "franck-garden-breche.jpg",
  },
];
---

<section class="authors">
  <div class="container">
    <h2 class="text-center">Qui sommes-nous&nbsp;?</h2>
    <div class="authors__cards">
      {AUTHORS.map((a) => <Author author={a} />)}
    </div>
  </div>
</section>

<style lang="scss">
  .authors {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--space-large);
    }
  }
</style>
