<section class="homeBook">
  <div class="container">
    <h2 class="text-center">Notre livre</h2>
    <div class="book text-justify">
      <div class="page">
        <p>
          13h20. Un après-midi de juillet sur la plage des Bas-Sablons à
          Saint-Malo.
        </p>
        <div class="dialog">
          <p>&laquo;&nbsp;Franck&nbsp;?? Et si on écrivait un livre&nbsp;??</p>
          <p>&mdash;&nbsp;Hein&nbsp;???</p>
          <p>
            &mdash;&nbsp;Oui, un livre&nbsp;! Ce serait une belle façon de
            transmettre nos valeurs et d’exprimer ce qu’on a sur le cœur, tu ne
            crois pas&nbsp;?
          </p>
          <p>
            &mdash;&nbsp;Tu me prends de court, mais... oui c’est une bonne
            idée.
          </p>
          <p>
            &mdash;&nbsp;Et puis, toi, tu as déjà écrit des livres, non&nbsp;?
          </p>
          <p>
            &mdash;&nbsp;Euh... &laquo;&nbsp;écrit des livres&nbsp;&raquo;,
            c’est vite dit, mais on va dire que oui, c’est vrai. Mais écrire à
            deux&nbsp;??? Ça ne doit pas être simple...
          </p>
          <p>&mdash;&nbsp;On aime les défis pas vrai&nbsp;?</p>
          <p>&mdash;&nbsp;C’est vrai&nbsp;!!</p>
          <p>&mdash;&nbsp;Allez chiche, on se lance&nbsp;?</p>
          <p>&mdash;&nbsp;OK, chiche!!!!&nbsp;&raquo;</p>
        </div>
        <p>9 mois plus tard...</p>
        <div class="dialog">
          <p>&laquo;&nbsp;Franck&nbsp;?</p>
          <p>&mdash;&nbsp;Oui&nbsp;?</p>
          <p>&mdash;&nbsp;Je crois bien qu’on a fini.</p>
          <p>
            &mdash;&nbsp;Tu es sûre&nbsp;??? Certaine de toi&nbsp;?? Parce que
            bon, tu pourrais changer
          </p>
        </div>
      </div>
      <div class="page">
        <div class="dialog">
          <p>
            encore une énième phrase ici ou là... non&nbsp;? Voir pire, UNE
            virgule... Avoue, c’est plus fort que toi&nbsp;!
          </p>
          <p>
            &mdash;&nbsp;Hahaha arrête&nbsp;!!! J’essaie juste d’être
            rigoureuse&nbsp;!!!! J’ai des éditeurs à convaincre moi&nbsp;!!!!
            D’ailleurs, je t&#39;ai déjà dit que je priais tous les soirs pour
            que notre manuscrit soit retenu&nbsp;???
          </p>
          <p>
            &mdash;&nbsp;Non, mais maintenant que tu le dis, je reconnais que
            l’aide d’une bonne âme serait la bienvenue...
          </p>
          <p>
            &mdash;&nbsp;Dis-moi, qu’est-ce que tu as pensé de cette
            aventure&nbsp;?
          </p>
          <p>
            &mdash;&nbsp;De cette aventure&nbsp;? Tu veux dire, en mettant de
            côté tes nombreux &laquo;&nbsp;taquets&nbsp;&raquo; et TON sourcil
            froncé dès que je propose une idée&nbsp;?
          </p>
          <p>
            &mdash;&nbsp;(Rires) Arrête, je t’ai dit&nbsp;! Ce n’est pas de ma
            faute, j’ai un côté émotionnel parfois... incontrôlable... Et puis,
            les textes trop &laquo;&nbsp;gnangnan&nbsp;&raquo;, très peu pour
            moi&nbsp;! Alors forcément, BIM, ça part tout seul... Avoue que
            c’est mérité : fallait pas me chercher &nbsp;!
          </p>
          <p>
            &mdash;&nbsp;D’accord, c’est vrai que c’est mérité mais j’aime ce
            côté piquant&nbsp;! Bon, pour répondre à ta question et plus
            sérieusement... c’est sans doute l’une des plus belles expériences
            de ma vie. Et toi&nbsp;?
          </p>
          <p>
            &mdash;&nbsp;Hummm pareil... Une expérience qui te change à
            jamais...
          </p>
          <p>&mdash;&nbsp;Un grand merci à nous alors, tu veux bien&nbsp;?</p>
          <p>
            &mdash;&nbsp;Oh oui, un grand merci à nous deux... On l’a
            fait&nbsp;!&nbsp;&raquo;
          </p>
        </div>
      </div>
    </div>
  </div>

  <style lang="scss">
    .homeBook {
      .book {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        background-color: white;
        border-radius: var(--border-radius-m);
        box-shadow: var(--box-shadow-diffuse);

        .page {
          padding: var(--space-medium);

          & + .page {
            border-left: 0.1rem solid var(--grey-200);
          }

          > * + * {
            margin-top: var(--space-small);
          }

          p {
            margin: 0;
          }

          .dialog {
            p {
              // display: inline-flex;
              // &::before {
              //   content: "—\00a0";

              //   display: inline;
              // }
            }
          }
        }
      }
    }
  </style>
</section>
