<section class="homeBook">
  <div class="container">
    <h2>Notre livre</h2>
    <p>
      13h20. Un après-midi de juillet sur la plage des Bas-Sablons à Saint-Malo.
    </p>
    <div class="dialog">
      <p>Franck&nbsp;?? Et si on écrivait un livre&nbsp;??</p>
      <p>Hein&nbsp;???</p>
      <p>
        Oui, un livre&nbsp;! Ce serait une belle façon de transmettre nos
        valeurs et d’exprimer ce qu’on a sur le cœur, tu ne crois pas&nbsp;?
      </p>
      <p>Tu me prends de court, mais… oui c’est une bonne idée.</p>
      <p>Et puis, toi, tu as déjà écrit des livres, non&nbsp;?</p>
      <p>
        Euh… &laquo;&nbsp;écrit des livres&nbsp;&raquo;, c’est vite dit, mais on
        va dire que oui, c’est vrai. Mais écrire à deux&nbsp;??? Ça ne doit pas
        être simple…
      </p>
      <p>On aime les défis pas vrai&nbsp;?</p>
      <p>C’est vrai&nbsp;!!</p>
      <p>Allez chiche, on se lance&nbsp;?</p>
      <p>OK, chiche!!!!</p>
    </div>
    <p>9 mois plus tard…</p>
    <div class="dialog">
      <p>Franck&nbsp;?</p>
      <p>Oui&nbsp;?</p>
      <p>Je crois bien qu’on a fini.</p>
      <p>
        Tu es sûre&nbsp;??? Certaine de toi&nbsp;?? Parce que bon, tu pourrais
        changer encore une énième phrase ici ou là… non&nbsp;? Voir pire, UNE
        virgule… Avoue, c’est plus fort que toi&nbsp;!
      </p>
      <p>
        Hahaha arrête&nbsp;!!! J’essaie juste d’être rigoureuse&nbsp;!!!! J’ai
        des éditeurs à convaincre moi&nbsp;!!!! D’ailleurs, je t&#39;ai déjà dit
        que je priais tous les soirs pour que notre manuscrit soit
        retenu&nbsp;???
      </p>
      <p>
        Non, mais maintenant que tu le dis, je reconnais que l’aide d’une bonne
        âme serait la bienvenue…
      </p>
      <p>Dis-moi, qu’est-ce que tu as pensé de cette aventure&nbsp;?</p>
      <p>
        De cette aventure&nbsp;? Tu veux dire, en mettant de côté tes nombreux
        &laquo;&nbsp;taquets&nbsp;&raquo; et TON sourcil froncé dès que je
        propose une idée&nbsp;?
      </p>
      <p>
        (Rires) Arrête, je t’ai dit&nbsp;! Ce n’est pas de ma faute, j’ai un
        côté émotionnel parfois… incontrôlable… Et puis, les textes trop
        &laquo;&nbsp;gnangnan&nbsp;&raquo;, très peu pour moi&nbsp;! Alors
        forcément, BIM, ça part tout seul… Avoue que c’est mérité : fallait pas
        me chercher &nbsp;!
      </p>
      <p>
        D’accord, c’est vrai que c’est mérité mais j’aime ce côté piquant&nbsp;!
        Bon, pour répondre à ta question et plus sérieusement… c’est sans doute
        l’une des plus belles expériences de ma vie. Et toi&nbsp;?
      </p>
      <p>Hummm pareil… Une expérience qui te change à jamais…</p>
      <p>Un grand merci à nous alors, tu veux bien&nbsp;?</p>
      <p>Ohh oui, un grand merci à nous deux… On l’a fait&nbsp;!</p>
    </div>
  </div>
</section>
