---
import { Image } from "astro:assets";

import heroImage from "@/assets/hero-image.jpg";
---

<section class="homeHero">
  <div class="container">
    <Image src={heroImage} alt="La plage des Bas-Sablons à Saint-Malo" />
    <h1>Regarder ensemble pour voir autrement</h1>
  </div>
</section>
