---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// import heroImage from "@/assets/sebastien-g-3gYsVLaw5Fo-unsplash.webp";
import heroImage from "@/assets/stevens-gardenbreche.webp";
---

<section class="homeHero">
  <div class="homeHero__content container">
    <h1>
      <span class="color big">Aurore Stevens</span><span class="big"
        >&nbsp;&
      </span><br /><span class="color big">Franck Garden-Brèche</span><br /> vous
      invitent à découvrir leur manuscrit<br />
      <Icon name="emie" />
      <svg
        viewBox="0 0 30 10"
        xmlns="http://www.w3.org/2000/svg"
        class="svg-shadow"
      >
        <defs>
          <filter id="shadow">
            <feDropShadow dx="0" dy="6" stdDeviation="12" flood-opacity="0.5"
            ></feDropShadow>
          </filter>
        </defs>
      </svg>
    </h1>
  </div>
  <div class="homeHero__image">
    <Image
      src={heroImage}
      widths={[540, 720, 1200, heroImage.width]}
      sizes={`(max-width: 720px) 540px, (max-width: 1200px) 720px,(max-width: 1600px) 1200px, ${heroImage.width}px`}
      alt="La plage de Bon-Secours à Saint-Malo. Au premier plan, la piscine d'eau de mer avec son plongeoir. À l'arrière plan, les iles du Grand Bé et du Petit Bé. Dans la moitié supérieure de l'image, un ciel bleu sans nuage qui tire vers le rose en descendant vers l'horizon."
    />
  </div>
</section>

<style lang="scss">
  .homeHero {
    --text-special: var(--olive-leaf);

    position: relative;
    min-height: 70vh;

    &__image {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      img {
        position: absolute;
        top: 0;
        right: 0;

        display: block;
        height: 100%;
        width: auto;
        object-fit: cover;
        max-width: unset;

        @media (width > 70rem) {
          position: relative;
          width: 100%;
        }
      }
    }

    &__content {
      position: relative;
      z-index: 2;

      display: flex;
      align-items: center;
      padding-top: calc(var(--space-large) + 12rem);
      padding-bottom: calc(var(--space-large) - 12rem);

      @media (width > 50rem) {
        padding-top: var(--space-large);
        padding-bottom: var(--space-large);
      }
    }

    h1 {
      color: white;
      font-family: var(--sans-font);
      font-size: clamp(1.8rem, calc(1rem + 2vw), 3.6rem);
      font-weight: 300;
      text-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.8);
      text-transform: uppercase;

      @media (width > 70rem) {
        padding-left: 20vw;
      }

      svg {
        &:not([class]) {
          display: block;
          height: auto;
          width: 15em;
          margin-top: var(--space-small);

          filter: url(#shadow);

          color: var(--text-special);
        }

        &.svg-shadow {
          position: absolute;

          height: 0;
          width: 0;
        }
      }

      .big {
        font-size: 1.6em;
        font-weight: 600;
        text-shadow: var(--box-shadow-sharp);
      }

      .color {
        color: var(--text-special);
      }

      @media (width > 50rem) {
        text-align: left;
      }
    }

    &__book {
      overflow: hidden;

      box-shadow: var(--box-shadow-diffuse);

      img {
        display: block;

        height: auto;
        max-width: 30rem;
      }
    }
  }
</style>
