<section class="homeJourney">
  <div class="container container--mini text-justify">
    <h2 class="text-center">Notre chemin</h2>
    <p>
      Lorsque rien ne prédispose à la rencontre, l’impensable devient alors
      possible. 23 années d’écart, nos professions, nos cercles de vie, tout
      nous séparait. Tout sauf ce fil invisible du &laquo;&nbsp;prendre
      soin&nbsp;&raquo; des patients, des familles, des usagers, qui nous tient
      à cœur et nous réunit. Retrouvé par hasard dans un système de santé que
      nous ne comprenions plus, quelques jours seulement ont fait de nous des
      complices, des amis, pour ne pas dire des
      &laquo;&nbsp;âmes-sœurs&nbsp;&raquo;. Nos valeurs, notre vision de la
      santé, du monde de demain nous sont communes. Rédactrice territoriale pour
      l’une, urgentiste pour l’autre, nos différences se sont assemblées comme
      les pièces d’un puzzle pour devenir des forces complémentaires évidentes.
      Le besoin de sortir du cadre, de nos zones de confort et peut-être un brin
      de folie nous ont alors poussé vers un défi inattendu.
    </p>
    <p>
      Dans l’adversité professionnelle qui aurait pu nous détruire, nous avons
      choisi la résilience et d’écrire un roman sur ce thème pour nous
      reconstruire. L’envie aussi de partager avec vous cette fiction écrite à
      quatre mains mais issue d’une pensée commune pour vous offrir nos
      émotions, nos croyances pour le futur avec l’espoir que ce livre vous
      touche autant à lire qu’il nous aura ému à écrire.
    </p>
  </div>
</section>

<style lang="scss">
  .homeJourney {
    display: grid;
    place-content: center;
  }
</style>
