<section class="homeBook">
  <h2 class="text-center">Notre livre</h2>
  <div class="container">
    <div class="homeBook__action">
      <div class="homeBook__checkbox">
        <input type="checkbox" id="flip" />
        <label for="flip">Afficher un extrait du manuscrit ou le résumé</label>
      </div>
      <div
        class="toggleOption toggleOption--excerpt js-toggle-option active"
        id="excerpt"
      >
        Extrait
      </div>
      <div
        class="toggleOption toggleOption--summary js-toggle-option"
        id="summary"
      >
        Résumé
      </div>
    </div>
    <div class="bookWrapper js-wrapper">
      <div class="book text-justify" id="book">
        <div class="page page--excerpt js-page-front">
          <p class="text-center">&#8544;</p>
          <p>
            La fin de l’après-midi s’annonce pluvieuse à l’image de la semaine.
            L’approche de l'hiver distille une morosité ambiante mais Julia et
            Alex, à cet instant, se moquent complètement de la météo. Après des
            heures en ville, shopping oblige, ils ont hâte de se retrouver en
            tête à tête pour oublier la foule des magasins. Des heures en fait
            où Alex prend un réel plaisir à observer Julia au fil des cabines
            d’essayages.
          </p>
          <p>
            L’interstice d’un rideau, le reflet dans un miroir, une bretelle de
            dentelle rouge dévoilée... Tout est bon pour admirer le corps
            sublime de celle qui le rend fou de désir.
          </p>
          <p>
            Des images sensuelles n’arrêtent pas de défiler dans son esprit
            depuis qu’il contemple la femme de sa vie dans cette robe
            incroyable... rouge elle aussi. Une couleur qui lui va si bien...
            Les courbes irréelles de son corps s'harmonisent parfaitement avec
            la finesse du tissu tandis que la profondeur de son décolleté
            interdit de porter quoi que ce soit en dessous. À croire que
            certaines parures n’ont été créées que pour être enlevées...
          </p>
          <p>
            Seuls la décence et le regard de la vendeuse « tue l’amour » ont
            retenu les pulsions d’Alex, plus que coquines. Malgré la chaleur et
            l'atmosphère ambiante, les petits seins de Julia, appellent aux
            baisers et pointent fièrement sous l’étoffe du tissu. Ses longues
            jambes
          </p>
        </div>
        <div class="page page--summary js-page-back">
          <h3 class="text-center">Emi(e)</h3>
          <p>
            Julia tient entre ses mains tout le bonheur possible pour une vie de
            rêve lorsque le drame s'abat sur elle avec violence.
          </p>
          <p>
            Brisée, submergée par la colère, la culpabilité et la peur, elle se
            noie dans une douleur sans fond. Rien ne semble pouvoir l'arracher à
            ce gouffre, pas même son frère Erick, urgentiste, qui lutte
            désespérément pour la sauver. Mais alors qu'elle a perdu tout
            espoir, des événements inattendus bouleverseront son existence.
          </p>
          <p>
            Et si chaque épreuve cachait une force insoupçonnée, prouvant que
            toute fin peut être un nouveau commencement ?
          </p>
          <p>
            Dans ce roman singulier, ancré au cœur de la magnifique cité
            corsaire de Saint-Malo, l'histoire nous rappelle que, même au cœur
            du chaos, l'amour trouve toujours un chemin.
          </p>
          <p class="text-center">&#8258;</p>
        </div>
      </div>
    </div>
  </div>

  <style lang="scss">
    .homeBook {
      .container {
        position: relative;
      }

      &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-small);
        margin-bottom: var(--space-small);

        .homeBook__checkbox {
          position: relative;
          order: 2;

          overflow: hidden;
          height: 3rem;
          width: 6rem;

          label {
            &::before,
            &::after {
              content: "";

              position: absolute;

              display: block;
            }

            &::before {
              top: 0;
              left: 0;
              z-index: 1;

              height: 3rem;
              width: 6rem;

              background-color: var(--grey-300);
              border-radius: 3rem;

              transition: background-color 0.3s;
            }

            &::after {
              top: 0.3rem;
              left: 0.3rem;
              z-index: 2;

              height: 2.4rem;
              width: 2.4rem;

              border-radius: 2.4rem;

              background-color: white;

              transition: all 0.3s ease-in-out;
            }
          }

          input {
            height: 0;
            width: 0;

            visibility: hidden;

            &:active + label {
              &::after {
                width: 3.2rem;
              }
            }

            &:checked + label {
              &::before {
                background-color: var(--brand-blue);
              }

              &::after {
                left: calc(100% - 0.3rem);
                transform: translateX(-100%);
              }
            }
          }
        }

        .toggleOption {
          color: var(--text-color-dim);
          font-family: var(--ui-font);

          &.active {
            color: var(--text-color);
          }

          &--excerpt {
            order: 1;
          }

          &--summary {
            order: 3;
          }
        }
      }

      .bookWrapper {
        margin-right: auto;
        margin-left: auto;
        max-width: 60rem;

        perspective: 99rem;
      }

      .book {
        position: relative;

        transition: transform 1s;
        transform-style: preserve-3d;

        &.flipped {
          transform: rotateY(180deg);
          transition: transform 0.5s ease-in-out;
        }

        .page {
          position: absolute;
          top: 0;
          left: 0;

          width: 100%;

          backface-visibility: hidden;
          background-color: white;
          border-radius: var(--border-radius-m);
          box-shadow: var(--box-shadow-diffuse);

          padding: var(--space-medium) var(--space-medium) var(--space-large);

          &--excerpt {
            --line-height: 3rem;

            p:last-child {
              position: relative;

              &::before,
              &::after {
                position: absolute;
                left: 0;

                display: block;
                width: 100%;
              }

              &::before {
                content: "";

                bottom: 0;

                height: var(--line-height);

                background-color: white;
              }

              &::after {
                content: "9";

                top: 100%;

                text-align: center;
              }
            }
          }

          &--summary {
            background-color: hsl(351, 57%, 95%);

            transform: rotateY(180deg);
          }
        }

        p {
          &.dialog {
            margin-top: 0;
          }

          &:not([class]) + p.dialog {
            margin-top: var(--space-small);
          }
        }
      }
    }
  </style>
</section>

<script>
  const pf = document.querySelector(".js-page-front");
  const pb = document.querySelector(".js-page-back");
  const w = document.querySelector(".js-wrapper");

  if (pf && pb) {
    const pfh = (pf as HTMLElement).offsetHeight;
    const pbh = (pb as HTMLElement).offsetHeight;

    if (pfh > pbh) {
      (pb as HTMLElement).style.height = `${pfh}px`;
    } else if (pbh > pfh) {
      (pf as HTMLElement).style.height = `${pbh}px`;
    }

    (w as HTMLElement).style.height = `${Math.max(pfh, pbh)}px`;
  }

  const f = document.getElementById("flip");
  const book = document.getElementById("book");
  const options = document.querySelectorAll(".js-toggle-option");

  if (f && book) {
    f.addEventListener("change", () => {
      book.classList.toggle("flipped");

      if (options) {
        options.forEach((o) => {
          o.classList.toggle("active");
        });
      }
    });
  }
</script>
