<section class="homeQuote">
  <div class="container">
    <blockquote class="text-center">
      &laquo;&nbsp;Regarder ensemble pour voir autrement...&nbsp;&raquo;
    </blockquote>
  </div>
</section>

<style lang="scss">
  .homeQuote {
    min-height: unset;

    background-color: white;

    blockquote {
      padding: 0;

      font-family: var(--display-font);
      font-size: clamp(2.4rem, 3.6vw, 7.2rem);
      text-align: center;
    }
  }
</style>
